@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Tagesschrift&display=swap');

body {
    font-family: "Tagesschrift";
    font-style: italic;
    text-align: center;
    background-color : "blue";
}

/* Forcing the image size if it's too big */
img {
    width: 300px;
    height: 350px;
}
